.custom-navbar {
position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  width: 100vw;
  border-bottom: 1px solid #ddd;
  z-index: 100;
  margin: 0 !important;
}

.navbar-row {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.nav-section {
  flex: 1;
  display: flex;
  align-items: center;
}

.center-title {
  justify-content: center;
  font-weight: bold;
  font-size: 1.2rem;
}

.right-controls {
  justify-content: flex-end;
  gap: 15px;
}

.left-space {

}

body {
  padding-top: 70px;
}